
/***********************************************/
/**************  Darkmode Styles  **************/
/***********************************************/

@media (prefers-color-scheme: dark) {
	/*Global Styles*/
	body{
		background: #1e1e1e;
		color: #e6e6e6;
	}
	
	#pop-window, .pop-content, .cf-content {
		background: #2f2f2f; 
	}
	
	/*Menu Styles*/
	#menu-bar, #mobile-menu {
		background: #2f2f2f;		
	}
		
	#menu-cta .blue-button, .menu-button { 
		border: 1px solid #7AC4F5;
		background: #2f2f2f;
		color: #7AC4F5;		
	}
	
	#menu-cta .blue-button:hover, .menu-button:hover { background: #182a37; }
		
	#mobile-menu > ul > li:first-child {
		color: #7AC4F5;
	}
	
	#menu-links ul li.active-link, #mobile-menu ul li.active-link { color: #8BCB90; }
	
	#menu-links ul li:hover, #mobile-menu ul li:hover {
		color: #8BCB90;
	}
	
	#menu-icon { filter: brightness(0) saturate(100%) invert(78%) sepia(6%) saturate(5145%) hue-rotate(175deg) brightness(100%) contrast(93%); }
	
	/*Footer Styles*/
	.footer { background: #0c0d11; }
	
	.footer-cta { background: linear-gradient(124deg, rgba(9,142,45,1) 0%, rgba(0,103,46,1) 100%); }
	
	/*Home Page*/
	.feature-box, .feature-cards { background: #282828; }	
	
	.bg-banner2::before {
		background: url("../assets/background/bg-shape-dark.svg") no-repeat right top;
		opacity: 0.25;
	}
	
	.bg-banner {
		background: rgba(19,77,165,1);
		background: linear-gradient(124deg, rgba(19,77,165,1) 0%, rgba(19,77,165,1) 100%);
	}
		
	.white-button {
		border: 1px solid #0e76bc;
		background: white;
		color: #0e76bc;
	}
	.white-button:hover {
		background: #e9f6ff;
	}	
	
	.blue-button {
		border: 1px solid #00663A;
		background: white;
		color: #00663A;
	}
	.blue-button:hover {
		background: #dfffdf;
		color: #006137;
	}	
	
	img.hero-bg-cover { content: url('../assets/background/white-cover-dark.svg') }
	
	/* Other Pages */
	.feature-element:hover { background: #282828; }	
	
	.green-bar, .green-header-bar {
		background: linear-gradient(124deg, rgba(19,77,165,1) 0%, rgba(50,112,238,1) 50%, rgba(19,77,165,1) 100%);
	}
	
	#feature-dots {
		filter: brightness(0) saturate(100%) invert(31%) sepia(63%) saturate(1896%) hue-rotate(182deg) brightness(93%) contrast(89%);
	}
	
	.bg-triangles, .bg-dots-video, .hero-bg-watermark, .hero-bg-gsc {
		filter: brightness(0) saturate(100%) invert(42%) sepia(53%) saturate(2201%) hue-rotate(187deg) brightness(103%) contrast(94%);
	}
	
	img.feature-bg-shape { content: url('../assets/background/bg-shape-dark.svg');	opacity: 0.25; }
	
	#mask-circle, #mask-cutout {
		filter: brightness(0) saturate(100%) invert(14%) sepia(1%) saturate(0%) hue-rotate(222deg) brightness(87%) contrast(102%);
	}
		

}