
/***********************************************/
/***************  Global Styles  ***************/
/***********************************************/

body {
	color: #1e1e1e;	
	font-family: "Comfortaa", monospace;
	selectable: false;
	-webkit-user-select: none; 
	-moz-user-select: none;     
	-ms-user-select: none;     
	user-select: none;  
}

h1 {
	font-size: 3em;
	font-family: "DejaVu Sans", monospace;
}

h2 {
	font-size: 2.5em;
	font-family: "DejaVu Sans", monospace;
}

h3 {
	font-size: 2em;
	font-family: "DejaVu Sans", monospace;	
	margin-top: 10px;
}

h4 {
	font-size: 1.4em;
	font-weight: 900;
}

h5 {
	font-size: 1.5em;
	font-weight: 900;
	color: #0e76bc;
	font-variant-caps: all-petite-caps;
	margin-bottom: 0px;
}

h6 {
	font-family: "DejaVu Sans", monospace;
	font-size: 1.7em;
	font-weight: 900;
    margin: 20px auto 50px;
}

p {
	line-height: 25px;	
}

a {
	text-decoration: none;
}

a:visited {
	color: #868686;
}

.default {
	cursor: default;
}

.white {
	color: white;
}

.ea-blue {
	color: #0e76bc;	
}

.darkGrey {
	color: #868686;
}

.white-button {
	cursor: pointer;
	border-radius: 6px; 
	background: white; 
	color: #00ad63; 
	padding: 3px; 
	width:180px; 
	text-align: center;
	transition: background 0.5s;
}

.white-button > p, .blue-button > p {
	margin: 6px auto 4px
}

.white-button:hover {
	background: #dfffdf;
}

.blue-button {
	border: 1px solid #0e76bc;
	cursor: pointer;
	border-radius: 6px; 
	background: white; 
	color: #0e76bc; 
	padding: 3px; 
	width:180px; 
	text-align: center;
	transition: background 0.5s;
}

.blue-button:hover {
	background: #e9f6ff;
}

.text-link {
	cursor: pointer;
	text-decoration: underline;	
	transition: color 0.5s;
}

.on-green:hover {
	color: #dfffdf;
}

.on-white:hover {
	color: #0e76bc;
}

.circle-shadow {
	margin: 0px;
	box-shadow: 0px 2px 27px #ccc; 
	border-radius: 200px;
	transition: width 1s, margin 1s;
}

.circle-shadow:hover {
	width: 120px;
	margin: -10px;
}

.extra-margin {
	margin: 50px;
}

.center-headings {
	text-align: center; 
}

.displayNone {
	display: none;
}

.red-border {
	border: 1px solid red;
}



/***********************************************/
/****************  Menu Styles  ****************/
/***********************************************/

#menu-bar {
	display: grid;
	grid-template-columns: auto auto auto;
	background: #FFF;
	height: 90px;
	position: fixed;
	z-index: 98;
	top: 0px;
	width: 100%;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
	align-items: center;
}

#menu-logo {
	cursor: pointer;
	margin: 2px;
	height: 50px;
	width: auto; 
	transition: height 2s, margin 2s;
}

#menu-logo:hover {
	height: 54px;
	margin: 0px -7px; 	
}

#menu-links {
	grid-column: 2 / 3;
	margin: 0px auto;
}

#menu-links ul {
	list-style-type: none;
	padding: 0;
}

#menu-links ul li {
	font-family: "Comfortaa", monospace;
	display: inline;
	margin: 0px 10px;
	cursor: pointer;
    padding: 12px 20px;
    border-radius: 6px;
	transition: color 0.5s, box-shadow 0.6s;
}

#menu-links ul li:hover {
	color: #00a651;
	box-shadow: 1px 2px 8px 0px #ccc;
}

#menu-links ul a { color: inherit; }

#menu-links ul li.active-link {
	color: #00a651;
}

#menu-links ul li.active-link:hover {
	cursor: default;
	box-shadow: 0px 0px 0px #FFF;
}

#menu-cta {
	grid-column: 3;
	margin: 0px auto;
}

#menu-mobile-btn {
	margin-right: 40px;
	grid-column: 3;
	justify-content: flex-end;
}

#menu-icon {
	width: 33px;
}

.menu-button {
	border: 1px solid #0e76bc;
	cursor: pointer;
	border-radius: 12px; 
	background: white; 
	color: #0e76bc; 
	width: fit-content;
	padding: 3px 6px 0px; 
	text-align: center;
	transition: background 0.5s;
}

.menu-button:hover {
	background: #e9f6ff;
}

#mobile-menu {
	width: 100%;
	position: fixed;	
    height: 0px;
    overflow: hidden;
	top: 90px;
	right: 0px;
    background: white;
	z-index: 99;
	box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.25);
}

#mobile-menu ul {
	list-style-type: none;
	padding: 0px;
}

#mobile-menu ul li {
	font-family: "Comfortaa", monospace;
	text-align: center;	 
    padding: 16px 0px;
    border-radius: 9px;
	margin: 0 20px;
}

#mobile-menu ul li:hover {	
	cursor: pointer;
	color: #00a651;
	box-shadow: 1px 2px 8px 0px #CCC;
}

#mobile-menu ul li.active-link {
	color: #00a651;
}

#mobile-menu ul li.active-link:hover {
	cursor: default;
	box-shadow: 0px 0px 0px #FFF;
}

#mobile-menu ul a { color: inherit; }

#menu-overlay {
	background: rgba(10,10,10,0.3);
	position: fixed;
	width: 100vw;
	height: 0px;	
    z-index: 50;
}



/***********************************************/
/***************  Footer Styles  ***************/
/***********************************************/

.footer-cta {
	background: rgb(50,112,238);
	background: linear-gradient(124deg, rgba(50,112,238,1) 0%, rgba(19,77,165,1) 100%);
	background-size: 400% 400%;
	border-radius: 6px;
	max-width: 900px;
	margin: 200px 25px -90px;
    overflow: overlay;
	padding: 20px 60px;	
}

.footer-cta-container {
	display: grid;
	grid-gap: 5rem;
	grid-template-columns:  auto auto;
	align-items: center;
	align-content: center;		
}

.footer-cta-col1{
	grid-column: 1/2;
}

.footer-cta-col2{
	grid-column: 2/3;
}

.footer {
	background: #232323;
	min-height: 300px;
	padding: 150px 25px 50px;
}

.footer-container {
	max-width: 1100px;
    margin: 50px auto 0px;
	display: grid;
	grid-gap: 5rem;
	grid-template-columns:  auto auto auto auto;
	align-items: top;	
}

.footer-col1{
	text-align: center;
	grid-column: 1/2;
}

.footer-col2{
	grid-column: 2/3;
}
.footer-col4{
	grid-column: 3/4;
}

.footer-col4{
	grid-column: 4/5;
}

.footer-copy-text {
	font-size: 0.8em;
	text-align: center;
}

.footer-link:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #00a651;
}

.social-link {
	opacity: 0.6;
	cursor: pointer;
	transition: opacity 1s;
}

.social-link:hover {
	opacity: 1;
}



/***********************************************/
/************  Page Header Styles  *************/
/***********************************************/

.green-header-bar {
	background: rgb(0,103,46);
	background: linear-gradient(124deg, rgba(0,103,46,1) 0%, rgba(9,142,45,1) 50%, rgba(0,103,46,1) 100%);
    margin: 90px auto 150px;
	position: relative;
}

.bg-triangles {
	position: absolute;
	top: 0px;
	left: 150px;
	width: 350px;	
    max-width: 50%;
}

.green-header-bar > img.bg-triangles {
	width: 280px;
	opacity: 0.6;
}

.header-text-container {
	display: flex !important;
	height: 196px;	
    justify-content: center;
    flex-direction: column;
}



/***********************************************/
/************  Page Content Styles  ************/
/***********************************************/

.global-container {
    display: grid;
	max-width: 1200px;	
	padding: 20px 50px;
	margin: auto;
}

.single-col-container {
	grid-gap: 2rem;
	grid-template-columns:  auto;
	grid-template-rows: auto;
}

.single-col1 {
	grid-column: 1 / 2; 
	grid-row: 1 / 2;
}

.two-col-container {
	grid-gap: 2rem;
	grid-template-columns:  50% 50%;
	grid-template-rows: auto;
}
.two-col1{ 
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.two-col2{ 
	grid-column: 2 / 3; 
	grid-row: 1 / 2;     
	display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;
}
.two-col-container.reversed > .two-col1{ grid-column: 2 / 3; grid-row: 1 / 2; }
.two-col-container.reversed > .two-col2{ grid-column: 1 / 2; grid-row: 1 / 2; }

.feature-animation {
	position: absolute;
    top: 333px;
    right: 10px;
    overflow: hidden;
	z-index: 0;
}

.feature-animation div {
	position: relative;	
    overflow: hidden;
	height: 333px;
}

#feature-dots { 
	position: absolute;
	top: 0px;
	z-index: 2;	
}

#mask-circle {
	position: absolute;
	top: -50px;
	z-index: 3;
	width: 120px;
}

#mask-cutout { 
	position: absolute;
	top: 50px;	
    left: -75px;
    width: 250px;
	z-index: 3;		
}

.feature-element {
	width: 240px;
	height: 240px;
	border-radius: 27px;
	display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 20px;
	background: transparent;
	transition: box-shadow 1.5s, background 1.5s;
}

.feature-element:hover {
	box-shadow: 1px 1px 31px 3px rgb(0 0 0 / 12%);
	background: #FFF;
}

.feature-header{
	font-weight: 900;
	font-size: 2em;
}

.feature-bg-shape {
	float: right;
    position: absolute;
    z-index: -1;
    max-width: 60%;
    right: 0;
    opacity: 0.5;
}

.img-container {
	width: 160px;
	height: 160px;
	position: relative;
}

.hero-icon {	
	position: absolute;
	width: 60px;
	margin: 0px;	
	transition: width 0.6s, margin 0.6s, transform 0.6s;
}

.hero-icon.icon1 {  top: 15px; left: 45px; transform: rotate(5deg); }
.hero-icon.icon2 {  top: 75px; left: 90px; transform: rotate(3deg); }
.hero-icon.icon3 {  top: 90px; left: 10px; transform: rotate(-3deg); }

.hero-icon:hover {
	width: 65px;
	margin: -2.5px;
	transform: rotate(0deg);
}

.hero-shape {
	position: absolute;
	width: 10px;
	opacity: 1;
	transition: opacity 0.6s;	
}
.hero-shape:hover {
	opacity: 0;
}

.bg-shapes {
	position: relative;
	opacity: 1;
	transition: opacity 0.6s;
}

.bg-shape-box1 {
	position: absolute;
	bottom: 150px;
	left: 25px;
	width: 100px;
	height: 100px;
}

.bg-shape-box2 {
	position: absolute;
	top: 15%;
	right: 225px;
	width: 100px;
	height: 100px;
}

.bg-shape-inner-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.bg-shapes:hover {
	opacity: 0;
}



/***********************************************/
/*************  Form / Pop Styles  *************/
/***********************************************/

input, textarea {
	font-family: "Comfortaa", monospace;
	display: block;
    width: -webkit-fill-available;
    min-width: 90%;
    padding: 10px;
    margin: 5px auto 30px;
	border: 1px solid #0e76bc;
	border-radius: 6px;
	box-sizing: border-box;
}

input[type=text]:focus-visible, textarea:focus-visible {
	padding: 9px;
	outline: #0e76bc 2px;
	outline-offset: 2px;
	border: 2px solid #0e76bc;
}	

input[type=submit] {
	cursor: pointer;	
	color: white;	
    margin: 5px auto;
	background: linear-gradient(124deg, rgba(50,112,238,1) 0%, rgba(19,77,165,1) 100%);
	background-size: 200% 200%;
}

input[type=submit]:hover {
	background: linear-gradient(124deg, rgba(9,142,45,1) 0%, rgba(0,103,46,1) 100%);
}

#full-screen-overlay {
	background: rgba(10,10,10,0.3);
	position: fixed;
	width: 100vw;
	height: 0px;	
    z-index: 99;
	top: 0;
}

#pop-window {
	background: #FFFFFF; 	
	box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 9%);
    border-radius: 15px;
	position: fixed; 
	top: -1000px; 
	left: 50%;
	margin: -250px;
	z-index: 100;
	overflow: hidden;
}

#pop-window > div {	
	width: 500px; 
	height: 500px; 
}

#pop-banner, .cf-header {
	background: linear-gradient(134deg, rgba(0,103,46,1) 0%, rgba(9,142,45,1) 100%);
	background-repeat: no-repeat;
	background-size: cover;
    height: 50px;
    padding: 10px 20px;
	margin-bottom: -10px;
}

.pop-content, .cf-content {
	padding: 25px 50px 0px;
	border-radius: 9px;
    background: white;
}

.pop-actions {
	width: 100%;
	display: flex;
}

.pop-actions > div {
	width: 50%;
}

.pop-close {
	padding: 16px 16px 0px;
}

.pop-close > span {
	cursor:pointer; 
	font-size:0.8em;
}

.pop-close > span:hover {
	text-decoration: underline;
}

.error-text {	
	color: red;
    font-size: 0.6em;
    float: right;
    margin-top: 7px;
    margin-right: 3px;
}

.contact-form-container {
	background: #FFFFFF; 	
	box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 9%);
    border-radius: 15px;
	width: 100%;
	max-width: 500px;
}

.cf-header {
	border-radius: 15px 15px 0px 0px;
}

.cf-form {
	padding: 40px;
}