
/***********************************************/
/*************  Hero Banner Styles  ************/
/***********************************************/

.bg-banner {
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 990px;
	background: rgb(0,103,46);
	background: linear-gradient(124deg, rgba(9,142,45,1) 0%, rgba(0,103,46,1) 100%);
}

.hero-bg-cover {
	width: 100%;
	position: absolute;
	bottom: -1px;	
    z-index: 2;
}

.hero-bg-watermark {
	z-index: 1;
	position: absolute;
	width: 60%;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
}

.hero-bg-gsc {
	z-index: 1;
	position: absolute;
	width: 35%;
	bottom: -20px;
	left: 80px; 
}

.bg-banner2 {	
	position: relative;
	width: 100%;
	min-height: 820px;
	margin: 0px auto 160px;
}

.bg-banner2::before {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	background: url("../assets/background/bg-shape.svg") no-repeat right top;
	background-size: contain;	
    content: "";
    z-index: -1;
}

.videoBanner {
	width: 700px;
	height: auto;
	opacity: 1;
	margin-left: 0px;
	position: relative;
}

.hero-banner-actions {
	display: flex; 
	margin-top: 40px;
}

.hb-action-col1 {
	margin: 0px 20px 0px 0px;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto;
	grid-gap: 10px;  
	max-width: 1500px;
	padding: 10px;
	margin: 0px auto;
	align-items: center;
	overflow: hidden;
}

.content-row {
	min-height: 900px;
}

.hero-banner {
	margin-top: 90px;
}

.item1 {
	grid-column: 1 / 3;
	margin: 0px auto;
}

.item2 {
	grid-column: 3 / 6;
	margin: 0px auto;
}

.hero-banner > .item1 > div {
	max-width: 430px;
}

.phone-feature-container {
	position:relative;
	text-align: center;
	max-width: none !important;
}

.bg-dots-blue-video {
	position: absolute;
	z-index: 0;	
    bottom: -60px;
    left: -60px;
    width: 330px;
	opacity: 0;	
}


/***********************************************/
/************  Boxes Banner Styles  ************/
/***********************************************/

.feature-boxes {
	display: grid;
	grid-gap: 3rem;
	grid-template-columns:  repeat(2, 250px);
	grid-template-rows: repeat(5, 110px);
	align-items: center;
}

.feature-box {
	box-shadow: 1px 1px 31px 3px rgb(0 0 0 / 12%);
    border-radius: 9px;
    width: 210px;
    height: 210px;
    padding: 20px;
	transition: box-shadow 0.3s;
}

.feature-box h3 {
	font-family: "Comfortaa", monospace;
	font-size: 1.4em;
	font-weight: 900;
}

.feature-box h3, .feature-box p {
	cursor: default;
}

.feature-box:hover {
	box-shadow: 1px 1px 10px 3px rgb(0 0 0 / 9%);
}

.box1 {
	grid-row: 1 / 3;
	grid-column: 1 / 2;
}

.box2 {
	grid-row: 2 / 4;
	grid-column: 2 / 3;
}

.box3 {
	grid-row: 3 / 5;
	grid-column: 1 / 2;
}

.box4 {
	grid-row: 4 / 6;
	grid-column: 2 / 3;
}


/***********************************************/
/************  Cards Banner Styles  ************/
/***********************************************/

.cards-container {
	display: grid;
	grid-gap: 4rem;
	grid-template-columns:  auto auto auto;
	align-items: center;	
	max-width: 1100px;
	margin: 0px auto;
}

.feature-cards {	
	width: auto;
	box-shadow: 1px 1px 10px 3px rgb(0 0 0 / 9%);
	border-radius: 9px;
	height: -webkit-fill-available;
	transition: box-shadow 0.3s;
	padding: 25px;	
	margin: 0px auto;
	overflow: hidden;
}

.feature-cards:hover {	
	box-shadow: 1px 1px 31px 3px rgb(0 0 0 / 12%);
}

.feature-cards h4, .feature-cards p {
	cursor: default;
}

.card1 {
	grid-column: 1/2;
}

.card2 {
	grid-column: 2/3;
}

.card3 {
	grid-column: 3/4;
}


/***********************************************/
/**************  Green Bar Styles  *************/
/***********************************************/

.green-bar {
	background: rgb(0,103,46);
	background: linear-gradient(124deg, rgba(0,103,46,1) 0%, rgba(9,142,45,1) 50%, rgba(0,103,46,1) 100%);
    margin: 150px auto;
	position: relative;
}

.sample-app-banner {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns:  auto auto;
	grid-template-rows: auto;
	align-items: center;	
	max-width: 1300px;	
	margin: 0px auto;
	height: 470px;
    padding: 80px 0px 0px;
}

.app-col1{
	grid-column: 1/2;	
    overflow: overlay;
    padding: 0px 0px 80px;
}

.app-col2{
	grid-column: 2/3;
    overflow: hidden;
	z-index: 5;	
    text-align: center;
}

.apps-banner {	
	opacity: 1;
	margin-top: 0px;
}

.bg-dots-video {
	position: absolute;
    top: 50px;	
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	z-index: 0;
}

.phone-feature-video {	
	position: relative;
	z-index: 10;
}
