<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <rewrite>
         <rules>
            <rule name="http to https" enabled="true" stopProcessing="true">
               <match url="(.*)" />
               <conditions>
                  <add input="{HTTPS}" pattern="^OFF$" />
               </conditions>
               <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
            </rule>
            <rule name="Rules for /app" stopProcessing="true">
               <match url="(.*)" />
               <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_URI}" pattern="^/easytodo/app/.*$" />
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               </conditions>
               <action type="Rewrite" url="app/index.html" />
            </rule>
            <rule name="Pub website rule" stopProcessing="true">
               <match url="(.*)" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               </conditions>
               <action type="Rewrite" url="index.html" />
            </rule>
         </rules>
      </rewrite>
      <urlCompression doStaticCompression="false" doDynamicCompression="false" />
      <httpErrors>
         <remove statusCode="404" subStatusCode="-1" />
         <remove statusCode="500" subStatusCode="-1" />
         <error statusCode="404" path="/survey/notfound" responseMode="ExecuteURL" />
         <error statusCode="500" path="/survey/error" responseMode="ExecuteURL" />
      </httpErrors>
      <modules runAllManagedModulesForAllRequests="true" />
      <security>
         <requestFiltering allowDoubleEscaping="true">
            <requestLimits maxAllowedContentLength="10485760" />
         </requestFiltering>
      </security>
   </system.webServer>
   <system.web>
      <httpRuntime executionTimeout="240" maxRequestLength="10240" />
   </system.web>
</configuration>